body{
	color:#666;
	font-family: Verdana;
	margin:0 auto;
}
.main-page{
	background:url(../images/bg1.png) repeat-x;
	
}
.logo{
	text-align: center;
}
.nav{
	 text-align: center;
} 
.nav li{
	display:inline-block;
}
.nav li a{
	display: block;
	font-size:14px;
	color:#FFF;
	margin:0 9px;
}
.nav li a:hover,
.nav li.active a{
	color:#FFF;
	border-bottom: 4px groove #87c442;
	padding-bottom:2px;
}
/*slider*/
.slider{
	width: 300px;
	margin: 15px auto;
}
.slider-right{
	margin: 10px 0px 10px 0;
	padding-bottom:30px
}
.slider-right h2{
	color:white;
	font-size:18px;
	font-weight:400;
}
.slider-right  p{
	margin-top:15px;
	line-height:1.5em;
	font-size:12px;
	color:#ACABAB;
}
.button{
	margin:15px 0;
	padding-top:8px 
}
.learnmore{
	float:left;
	margin-left:20px;
}
.register{
	float:right;
	margin-right:20px;
}
.learnmore,.register { 
		  display:inline-block; 
		  text-decoration:none; 
		  outline:none; 
		  cursor:pointer; 
		  font:bold 12px/1em HelveticaNeue, Arial, sans-serif; 
		  padding:8px 15px; 
		  color:#555; 
		  background:#f5f5f5; 		 
		  -webkit-border-radius:4px; 
		  -moz-border-radius:4px; 
		  
		 
	
}
.learnmore:hover,.register:hover,
.learnmore:focus,.register:focus { 
	color:#555; 
	background:#efefef; 
	text-decoration: underline;
}
.learnmore:active,.register:active { 
	position:relative; 
	top:1px; 
	color:#555; 
	background:#efefef; 
	background:-webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f4f4f4)); 
	background:-moz-linear-gradient(top, #eaeaea, #f4f4f4); 
	border-color:#c6c6c6; 
	-webkit-box-shadow:0 1px 0 #fff, inset 0 0 5px #ddd; 
	-moz-box-shadow:0 1px 0 #fff, inset 0 0 5px #ddd; 
	box-shadow:0 1px 0 #fff, inset 0 0 5px #ddd;
}

.row1{
	margin-top:15px;
}

.row1-data,.row2-data,.row3-data{
	margin-bottom:20px;
}
.col1{
	padding-top:20px;
}
.row1 .col1,.row1 .col3,.row1 .col2{
	margin:0 0 30px 0;
}

.col1 img,.col3 img,.col2 img{
	margin-right:10px;
	float:left;
}
.col1 h3,.col3 h3,.col2 h3{
	font-size: 14px;
	font-weight:400;
	color:#242424;
}
.col1 p,.col3 p,.col2 p{
	font-size:11px;
	margin-top:5px;
	line-height: 1.5em;
}
.divider{
	border-bottom:1px groove #9f9f9f;
}
.row2{
	margin:0 10px 0 10px;
	
}
.row2 .col1,.row2 .col2,.row2 .col3,.row2 .col4{
	
	margin-bottom:15px;
}

.row2 .col1 h3{
	font-size:18px;
}
.row2 .col1 p{
	font-size:13px;
}
.row2 .col1 em,.row1-content p em,.row2-content p em{
	color:#87c442;
}
.row2 .col2 img,.row2 .col3 img,.row2 .col4 img{
	margin-bottom:20px;
	float:left;
}
.row2 .col2 p,.row2 .col3 p,.row2 .col4 p{
	font-size:11px;
}
.footer{
	background:#121212;
	padding:15px 0;
}
.footer-content{
	text-align: center;

}
.footer ul{
	margin: 5px 0;	
}
.footer-content li{
	display: inline;
}
.footer-content li a{
	font-size:12px;
		color:#666;
		margin: 0 3px;
}
.copy{
	font-size:12px;
}
.copy a{
	color:#87c442;
	font-size:12px;
}
.footer-content li a:hover,
.copy a:hover{
	color:#fff;
}

/*about*/
.sub-page{
	background:url(../images/sub-page.png);
	height:222px;
}
.about-content{
	margin:-30px 10px 30px 10px;
	
}
.about-main{
	float:left;
	margin-top:-60px;
}
.sidebar{
	margin:30px 0 0 0;
}
.about-main h3,.sidebar h3{
	font-size:24px;
}
.row1-content {
	margin-top:20px;
}
.row1-content img{
	float:left;
}
.row2-content{
	padding:15px 0 30px 0;
	border-bottom:1px dotted #666;
	margin-bottom:18px;
}
.row2-content img{
	float:right;
	padding: 0 0 10px 10px;
}
.row1-content img{
	padding:0 10px 5px 0;
}
.row1-content p,.row2-content p{
	font-size:13px;
	line-height:1.5em;
}
.row3-content h3{
	padding-bottom:15px;
}
.row3-left{
	margin: 0 20px 25px 0;
}
.row3-left p,.row3-right p{
	font-size:13px;
	line-height: 1.5em;
}
.row3-left span,.row3-right span{
	color:#87c442;
	font-size:12px;
	font-weight:bold;
	
}


.gallary{
	margin-top:25px;
}
.gallary-list{
	margin-top:20px;
}
.gallary-list img{
	padding:3px;
	background:#ffffff;
	border:1px solid #888;
	float:left;
	margin:0 11px 8px 0;
}
/*end about*/
/*contact*/
.contact-content{
	margin-top:-145px;
}

.contact-main{
	margin:40px 0 40px 0;
}
.contact-left,.contact-right{
	margin:0 10px 0 10px;
}
.contact-main h3{
	font-size:24px;
	margin:0 7px;
}
.contact-left p{
	margin-top:15px;
	font-size:13px;
	line-height:1.5em;
}
.contact-form{
	margin-top:30px;
}
.contact-form label{
	display:block;
	margin-bottom:8px;
	font-size: 13px;
}
.contact-form input[type="text"]{
	width: 90%;
	padding: 5px;
	color: #222;
	background: #FCFCFC;
	border: 1px solid #DEDEDE;
	font-size: 12px;
	margin-bottom:20px;
	outline: none;
	
}
.contact-form textarea{
	width: 90%;
	height: 100px;
	padding: 5px;
	color: #222;
	background: #FCFCFC;
	border: 1px solid #DEDEDE;
	font-size: 12px;
	font-family: Verdana;
	outline: none;
}
.submit-button{
	margin-top:20px;
}

.submit-button input[type="submit"],
.submit-button input[type="reset"]{
	padding: 7px 18px;
	font-weight: bold;
	color: #222;
	background: #FCFCFC;
	border: 1px solid #DEDEDE;
	cursor: pointer;
	-webkit-appearance:none;
	
}
.submit-button input[type="submit"]:hover,
.submit-button input[type="reset"]:hover{
	color: #fff;
	background:#121212;
}
.contact-right h3{
	font-size:18px;
	
}
.contact-right h4{
	font-size:13px;
	font-weight:bold;
	margin-top:20px;
	
}
.contact-right p{
	padding:10px 60px 20px 0;
	font-size:13px;
	line-height: 1.5em;
}
.contact-right strong,.contact-right span{
	font-size:13px;
}
.ph-num{
	margin-bottom:30px;
}
.contact-right strong{
	font-weight:bold;
	padding:0 30px 20px 0;
}
/*end contact*/